.cartItemCard {
  background: url("./prodDescPic.png") no-repeat right center;
  width: 20rem;
  height: 3rem;
  border: none !important;
}

#symbols > .fuelClass,
#symbols > .gripClass,
#symbols > .noiseClass {
  height: 21px;
}

.seasonClass {
  margin: 2px;
  width: 42px;
  padding-top: 2px;
  padding-bottom: 2px;
}
