.search {
  padding-top: 64px;
}

#searchLogo {
  padding: 6px;
}

#button-search,
#button-checkout {
  background-color: #418ef6;
}

.dropdown-toggle::after {
  display: none;
}

.fa-angle-down {
  color: #5499f7;
  font-weight: bold;
}

.nav-link {
  color: #212121 !important;
}
